# Ignore certificates
certs/*.pfx
certs/*.cer

# Ignore temporary files
*.log
*.tmp
*.bak

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code / Visual Studio
.vscode/
.vs/
*.user
*.suo
*.jar

# PowerShell and batch output
*.ps1xml
*.pssc
*.psd1
